body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow:1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 300px;
  padding-top: 20px;
}

.info-container {
  margin-top:8px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid rgb(104, 102, 102);
  display: none
}

#message-1 {
  font-weight: bold 
}